In [2]:
import pandas as pd
import os

In [10]:
for file in os.listdir('/Users/jm186072/Documents/DataScience/datasets/'):
    #print(file)
    if 'Customer' in file:
        print (file)
        break

Customer_Curn_Telco1.txt

In [11]:
file

'Customer_Curn_Telco1.txt'

In [14]:
data = pd.read_csv('/Users/jm186072/Documents/DataScience/datasets/Customer_Curn_Telco1.txt')

In [158]:
data.head(4)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,churn
470,NE,44,415,416-8697,0,0,0,240.3,146,40.85,...,83,13.99,240.7,106,10.83,10.6,2,2.86,1,1
685,CO,63,415,408-4530,0,1,32,30.9,113,5.25,...,113,15.90,230.8,101,10.39,8.6,7,2.32,1,1
1790,KY,125,408,328-3402,0,0,0,191.6,115,32.57,...,108,17.48,210.2,123,9.46,9.2,3,2.48,2,1
1716,ME,36,510,335-3110,0,1,25,152.8,110,25.98,...,67,20.64,147.4,74,6.63,9.1,2,2.46,1,1

In [127]:
data.rename(columns={'Churn?':'churn'},inplace=True)

In [155]:
#data['churn'].replace(['True.','False.'],[0,1],inplace=True)
data["Int'l Plan"].replace(['no', 'yes'], [0, 1], inplace=True)
data["VMail Plan"].replace(['no', 'yes'], [0, 1], inplace=True)

In [163]:
data = data.drop("Phone",1)

In [164]:
print(data.shape)

(3333, 20)

In [165]:
print(data.dtypes)

State              object
Account Length      int64
Area Code           int64
Int'l Plan          int64
VMail Plan          int64
VMail Message       int64
Day Mins          float64
Day Calls           int64
Day Charge        float64
Eve Mins          float64
Eve Calls           int64
Eve Charge        float64
Night Mins        float64
Night Calls         int64
Night Charge      float64
Intl Mins         float64
Intl Calls          int64
Intl Charge       float64
CustServ Calls      int64
churn               int64
dtype: object

In [166]:
print(data.describe())

       Account Length    Area Code   Int'l Plan   VMail Plan  VMail Message  \
count     3333.000000  3333.000000  3333.000000  3333.000000    3333.000000
mean       101.064806   437.182418     0.096910     0.276628       8.099010
std         39.822106    42.371290     0.295879     0.447398      13.688365
min          1.000000   408.000000     0.000000     0.000000       0.000000
25%         74.000000   408.000000     0.000000     0.000000       0.000000
50%        101.000000   415.000000     0.000000     0.000000       0.000000
75%        127.000000   510.000000     0.000000     1.000000      20.000000
max        243.000000   510.000000     1.000000     1.000000      51.000000

          Day Mins    Day Calls   Day Charge     Eve Mins    Eve Calls  \
count  3333.000000  3333.000000  3333.000000  3333.000000  3333.000000
mean    179.775098   100.435644    30.562307   200.980348   100.114311
std      54.467389    20.069084     9.259435    50.713844    19.922625
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%     143.700000    87.000000    24.430000   166.600000    87.000000
50%     179.400000   101.000000    30.500000   201.400000   100.000000
75%     216.400000   114.000000    36.790000   235.300000   114.000000
max     350.800000   165.000000    59.640000   363.700000   170.000000

        Eve Charge   Night Mins  Night Calls  Night Charge    Intl Mins  \
count  3333.000000  3333.000000  3333.000000   3333.000000  3333.000000
mean     17.083540   200.872037   100.107711      9.039325    10.237294
std       4.310668    50.573847    19.568609      2.275873     2.791840
min       0.000000    23.200000    33.000000      1.040000     0.000000
25%      14.160000   167.000000    87.000000      7.520000     8.500000
50%      17.120000   201.200000   100.000000      9.050000    10.300000
75%      20.000000   235.300000   113.000000     10.590000    12.100000
max      30.910000   395.000000   175.000000     17.770000    20.000000

        Intl Calls  Intl Charge  CustServ Calls        churn
count  3333.000000  3333.000000     3333.000000  3333.000000
mean      4.479448     2.764581        1.562856     0.855086
std       2.461214     0.753773        1.315491     0.352067
min       0.000000     0.000000        0.000000     0.000000
25%       3.000000     2.300000        1.000000     1.000000
50%       4.000000     2.780000        1.000000     1.000000
75%       6.000000     3.270000        2.000000     1.000000
max      20.000000     5.400000        9.000000     1.000000

In [167]:
data.head(5)

,State,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,churn
470,NE,44,415,0,0,0,240.3,146,40.85,164.6,83,13.99,240.7,106,10.83,10.6,2,2.86,1,1
685,CO,63,415,0,1,32,30.9,113,5.25,187.0,113,15.90,230.8,101,10.39,8.6,7,2.32,1,1
1790,KY,125,408,0,0,0,191.6,115,32.57,205.6,108,17.48,210.2,123,9.46,9.2,3,2.48,2,1
1716,ME,36,510,0,1,25,152.8,110,25.98,242.8,67,20.64,147.4,74,6.63,9.1,2,2.46,1,1
2276,VT,157,510,0,0,0,168.6,71,28.66,205.1,48,17.43,175.8,88,7.91,5.9,2,1.59,3,1

In [133]:
data['churn'].unique()

array([1, 0])

In [134]:
data.groupby('churn').size()

churn
0     483
1    2850
dtype: int64

In [69]:
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import utils

In [168]:
data = utils.shuffle(data)

In [169]:
data.shape

(3333, 20)

In [170]:
data.columns

Index(['State', 'Account Length', 'Area Code', 'Int'l Plan', 'VMail Plan',
       'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge', 'Eve Mins',
       'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls', 'Night Charge',
       'Intl Mins', 'Intl Calls', 'Intl Charge', 'CustServ Calls', 'churn'],
      dtype='object')

In [177]:
X = data.iloc[:,1:-1]
Y = data.iloc[:,-1]

In [145]:
Y

470     1
685     1
1790    1
1716    1
2276    1
3252    1
2341    1
778     1
453     1
2675    1
3087    1
2599    0
1808    1
972     1
2640    1
1587    1
1151    1
2850    1
409     1
2839    0
2695    1
2218    0
1234    1
1963    1
1843    1
1504    1
700     1
614     1
1246    1
161     1
       ..
1480    1
1122    0
2809    1
858     1
2533    0
1943    1
3004    1
448     1
2772    0
1823    1
2490    1
2643    1
594     1
1770    1
2473    1
362     1
984     1
2377    0
2188    1
267     1
1655    1
725     1
2903    1
1517    1
315     1
297     1
2488    1
871     0
3319    1
2619    0
Name: churn, Length: 3333, dtype: int64

In [178]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3)

In [179]:
print(X_train.shape,X_test.shape)
print(Y_train.shape,Y_test.shape)

(2333, 18) (1000, 18)
(2333,) (1000,)

In [174]:
type(Y_train)

pandas.core.series.Series

In [180]:
CART = DecisionTreeClassifier()

In [181]:
CART.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [182]:
CART_predict = CART.predict(X_test)

In [ ]:
#from sklearn.base import ClassifierMixin
from sklearn.utils.testing import all_estimators
classifier = [est for est in all_estimators()]
print(classifier)

In [189]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [191]:
accuracy = accuracy_score(Y_test,CART_predict)
classification_rpt = classification_report(Y_test,CART_predict)
conf_matrix = confusion_matrix(Y_test,CART_predict)

In [192]:
print('Accuracy:-',accuracy)
print('Classification Report:-\n',classification_rpt)
print('Confusion Matrix:-\n',conf_matrix)

Accuracy:- 0.904
Classification Report:-
              precision    recall  f1-score   support

          0       0.72      0.66      0.69       163
          1       0.94      0.95      0.94       837

avg / total       0.90      0.90      0.90      1000

Confusion Matrix:-
 [[108  55]
 [ 41 796]]