In [ ]:
#Things that you will find in this notebook
#1-Euclidean distance

In [21]:
import numpy as np
from scipy.spatial import distance

In [2]:
a = [0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0]

In [3]:
b = [0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0]

In [16]:
print("Euclidean Distance",np.sqrt(np.sum(np.square(np.array(a)-np.array(b)))))

Euclidean Distance 1.4142135623730951

In [20]:
print("Euclidean Distance",distance.euclidean(a,b))

Euclidean Distance 1.4142135623730951

In [39]:
import pandas as pd

In [42]:
type(a)

numpy.ndarray

In [43]:
a[0]

14

In [88]:
a = []
b = []
a = np.random.randint(11,21,100)
b = np.random.randint(2,11,100)
a= np.array(a)
b= np.array(b)

In [89]:
print(len(a))
print(a)
print(len(b))
print(b)
#

100
[17 19 20 19 16 20 15 11 11 18 12 14 19 16 13 13 14 11 13 11 16 16 18 17
 15 13 11 12 14 17 12 17 17 18 13 13 12 17 16 12 16 12 20 20 13 17 19 17
 18 18 19 12 11 16 14 15 11 12 16 19 14 13 20 11 13 20 15 14 20 19 11 18
 14 12 16 13 13 12 15 12 19 14 16 19 13 14 19 19 20 11 13 11 19 19 14 20
 11 16 15 18]
100
[ 2  2 10  5  2  2  5  9  4  8  9 10  8  4  6  9 10  9  3  6  3 10  9 10
  9  6  7  5  8  7  6  8  8  9  4  4  7  9  6 10 10  3  3  8  9 10  3  6
  2  3  7  5 10 10  4  3  8  4  3  7  4  7  3 10  4  9  9  9  3 10  8  8
  5  3 10  4 10  6  4  7  8  9  2  4  3  2  3  3  7  7  9  9 10  6  7  2
  9  7  3  2]

In [90]:
ii=0
for i in range(100):
    print(str(a[i])+' X '+ str(b[i]) + ' = ')

for i in range(100):
    print(str(a[i]*b[i]))

17 X 2 =
19 X 2 =
20 X 10 =
19 X 5 =
16 X 2 =
20 X 2 =
15 X 5 =
11 X 9 =
11 X 4 =
18 X 8 =
12 X 9 =
14 X 10 =
19 X 8 =
16 X 4 =
13 X 6 =
13 X 9 =
14 X 10 =
11 X 9 =
13 X 3 =
11 X 6 =
16 X 3 =
16 X 10 =
18 X 9 =
17 X 10 =
15 X 9 =
13 X 6 =
11 X 7 =
12 X 5 =
14 X 8 =
17 X 7 =
12 X 6 =
17 X 8 =
17 X 8 =
18 X 9 =
13 X 4 =
13 X 4 =
12 X 7 =
17 X 9 =
16 X 6 =
12 X 10 =
16 X 10 =
12 X 3 =
20 X 3 =
20 X 8 =
13 X 9 =
17 X 10 =
19 X 3 =
17 X 6 =
18 X 2 =
18 X 3 =
19 X 7 =
12 X 5 =
11 X 10 =
16 X 10 =
14 X 4 =
15 X 3 =
11 X 8 =
12 X 4 =
16 X 3 =
19 X 7 =
14 X 4 =
13 X 7 =
20 X 3 =
11 X 10 =
13 X 4 =
20 X 9 =
15 X 9 =
14 X 9 =
20 X 3 =
19 X 10 =
11 X 8 =
18 X 8 =
14 X 5 =
12 X 3 =
16 X 10 =
13 X 4 =
13 X 10 =
12 X 6 =
15 X 4 =
12 X 7 =
19 X 8 =
14 X 9 =
16 X 2 =
19 X 4 =
13 X 3 =
14 X 2 =
19 X 3 =
19 X 3 =
20 X 7 =
11 X 7 =
13 X 9 =
11 X 9 =
19 X 10 =
19 X 6 =
14 X 7 =
20 X 2 =
11 X 9 =
16 X 7 =
15 X 3 =
18 X 2 =
34
38
200
95
32
40
75
99
44
144
108
140
152
64
78
117
140
99
39
66
48
160
162
170
135
78
77
60
112
119
72
136
136
162
52
52
84
153
96
120
160
36
60
160
117
170
57
102
36
54
133
60
110
160
56
45
88
48
48
133
56
91
60
110
52
180
135
126
60
190
88
144
70
36
160
52
130
72
60
84
152
126
32
76
39
28
57
57
140
77
117
99
190
114
98
40
99
112
45
36