In [7]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'id':[1, 2, 3, 4, 5, 6, 7, 8], 
    'group':['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b'], 
    'value':[.01, .4, .2, .3, .11, .21, .4, .01]
    })

In [4]:
df.sort_values('value', ascending=False, inplace=True)

In [8]:
def ranker(df):
    df['rank'] = np.arange(len(df)) + 1
    return df

In [9]:
df = df.groupby(['group']).apply(ranker)

In [13]:
df.sort_values('group', ascending=True, inplace=True)

In [22]:
df1 = df[df['rank']==1]

In [23]:
df1

  group  id  value  rank
1     a   2    0.4     1
6     b   7    0.4     1